<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
    <!--<section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
  </configSections>
  <connectionStrings>
    <add name="dcm" providerName="System.Data.SqlClient" connectionString="Database=dcm_Demo;Server=(local);uid=sa;pwd=test;" />
    <!--<add name="dcm_oracle"  providerName="System.Data.OracleClient"  connectionString="Data Source= (DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.0.201)(PORT = 1522)))(CONNECT_DATA = (SERVICE_NAME = dcm)));User ID=dcm;password=taihua;Persist Security Info=True"/>-->
    <add name="TestContext" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Test;Integrated Security=True;Pooling=False" />
    <add name="Conn" providerName="System.Data.SqlClient" connectionString="Database=dcm_Demo;Server=(local);uid=sa;pwd=test;" />
    <!--<add name="DemoEntities" connectionString="metadata=res://*/Model.DemoEDM.csdl|res://*/Model.DemoEDM.ssdl|res://*/Model.DemoEDM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMO;PASSWORD=test;USER ID=DEMO&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DemoEntities_" connectionString="metadata=res://*/Model.DemoEDM.csdl|res://*/Model.DemoEDM.ssdl|res://*/Model.DemoEDM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=demo;PASSWORD=test;PERSIST SECURITY INFO=True;USER ID=DEMO&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DemoEntities" connectionString="metadata=res://*/Model.DemoEDM.csdl|res://*/Model.DemoEDM.ssdl|res://*/Model.DemoEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Demo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<policyInjection>
    <policies>
      <add name="ServiceImpPolicy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.CustomAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            attributeType="TelChina.TRF.Service.AOP.AOPAttribute.LogAttribute,TelChina.TRF.Service.AOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            name="Custom Attribute Matching Rule" />
        </matchingRules>
        <handlers>
          <add Test="Hello World!!" type="TelChina.TRF.Service.AOP.CallHandler.ServiceLogCallHandler,TelChina.TRF.Service.AOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            name="ServiceLogCallHandler" />
        </handlers>
      </add>
    </policies>
  </policyInjection>-->
  <appSettings>
    <add key="ServiceBaseUri" value="http://localhost:1234/" />
    <add key="DeployType" value="Integrate" />    
    <!--<add key="DeployType" value="Distributed" />-->
    <!--For EF only-->
    <!--<add key="DALStrategy" value="EF_Code1st" />-->
    <add key="DALStrategy" value="EF_Model1st" />
    <!--<add key="DALStrategy" value="CurrentVersion"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TraceEntityState" value="false" />
    <add key="ConnectionName" value="DemoEntities" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\Bin;.\Labs" />
    </assemblyBinding>
  </runtime>
</configuration>